* {
box-sizing: border-box;
}
body {
margin: 0;
font-family: Arial, sans-serif;
color: #f8fafb;
background-color: #000000;
}
header,
main,
footer {
padding: 1.5rem;
}
header {
color: #000000;
background-color: #00eaff;
}
button {
padding: 0.75rem 1rem;
color: #000000;
background-color: #f3df0e;
border: 0;
border-radius: 0.4rem;
cursor: pointer;
}